{%extends 'layout.twig'%}
{% block body %}
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<form action="/api/cars-update/{{car.id}}" method="POST" id='urdateform'>
					<div class="mb-3">
						<label for="company" class="form-label">Company</label>
						<input type="text" class="form-control" id="company" name="company" value="{{ car.company }}">
					</div>
					<div class="mb-3">
						<label for="model" class="form-label">Model</label>
						<input type="text" class="form-control" id="model" name="model" value="{{ car.model }}">
					</div>
					<div class="mb-3">
						<label for="year" class="form-label">Year</label>
						<input type="text" class="form-control" id="year" name="year" value="{{ car.year }}">
					</div>
					<div class="mb-3">
						<label for="color" class="form-label">Color</label>
						<input type="text" class="form-control" id="color" name="color" value="{{ car.color }}">
					</div>
					<button type="submit" class="btn btn-primary">Update</button>
				</form>
			</div>
		</div>
	</div>

{% endblock %}
