{% extends 'layout.twig' %}
{% block body %}
	<div class='position-absolute'>
		<form action="/carlist" method='get'>
			<div class="filters">
				<div class="filter">
					<label for="company-filter">Company:</label>
					<select id="company-filter" name="company">
						<option value="">All</option>
						<option value="Toyota">Toyota</option>
						<option value="Honda">Honda</option>
						<option value="Ford">Ford</option>
						<option value="Mazda">Mazda</option>
						<option value="Nissan">Nissan</option>
						<option value="Chevrolet">Chevrolet</option>
						<option value="Mercedes">Mercedes</option>
						<option value="BMW">BMW</option>
						<option value="Audi">Audi</option>
						<option value="Volkswagen">Volkswagen</option>
						<option value="Hyundai">Hyundai</option>
						<option value="Kia">Kia</option>
						<option value="Subaru">Subaru</option>
						<option value="Jeep">Jeep</option>
						<option value="Volvo">Volvo</option>
						<option value="Porsche">Porsche</option>
						<option value="Lexus">Lexus</option>
						<option value="Land Rover">Land Rover</option>
						<option value="Jaguar">Jaguar</option>
						<option value="Mitsubishi">Mitsubishi</option>
						<option value="Infiniti">Infiniti</option>
						<option value="Acura">Acura</option>
						<option value="Buick">Buick</option>
						<option value="Cadillac">Cadillac</option>
						<option value="Lincoln">Lincoln</option>
						<option value="Opel">Opel</option>
					</select>
				</div>
				<div class="filter">
					<label for="year-filter">Year:</label>
					<select id="year-filter" name="year">
						<option value="">All</option>
						<option value="2024">2024</option>
						<option value="2023">2023</option>
						<option value="2022">2022</option>
						<option value="2021">2021</option>
						<option value="2020">2020</option>
						<option value="2019">2019</option>
						<option value="2018">2018</option>
						<option value="2017">2017</option>
						<option value="2016">2016</option>
						<option value="2015">2015</option>
						<option value="2014">2014</option>
						<option value="2013">2013</option>
						<option value="2012">2012</option>
						<option value="2011">2011</option>
						<option value="2010">2010</option>
					</select>
				</div>
				<div class="filter">
					<label for="color-filter">Color:</label>
					<select id="color-filter" name="color">
						<option value="">All</option>
						<option value="Red">Red</option>
						<option value="Blue">Blue</option>
						<option value="Green">Green</option>
						<option value="Yellow">Yellow</option>
						<option value="Black">Black</option>
						<option value="White">White</option>
						<option value="Silver">Silver</option>
						<option value="Gray">Gray</option>
						<option value="Brown">Brown</option>
						<option value="Orange">Orange</option>
						<option value="Purple">Purple</option>
						<option value="Pink">Pink</option>
						<option value="Beige">Beige</option>
					</select>
				</div>
				<div class="filter">
					<label for="availability-filter">Availability:</label>
					<ul>
						<li>
							<label for="available-filter">Available</label>
							<input type="radio" id="available-filter" name="availability" value="available">
						</li>
						<li>
							<label for="not-available-filter">Not available</label>
							<input type="radio" id="not-available-filter" name="availability" value="not-available">


						</li>
					</ul>
				</div>
				<div class="filter">
					<label class="filter row">
						By Price
					</label>
					<ul>
						<li>
							<label for="price-filter-1">0 - 10000</label>
							<input type="radio" id="price-filter-1" name="price-filter" value="0-10000">

						</li>
						<li>
							<label for="price-filter-2">10000 - 20000</label>
							<input type="radio" id="price-filter-2" name="price-filter" value="10000-20000">

						</li>
						<li>
							<label for="price-filter-3">20000 - 30000</label>
							<input type="radio" id="price-filter-3" name="price-filter" value="20000-30000">
						</li>
						<li>
							<label for="price-filter-4">30000 - 40000</label>
							<input type="radio" id="price-filter-4" name="price-filter" value="30000-40000">
						</li>
						<li>
							<label for="price-filter-5">40000 - 50000</label>
							<input type="radio" id="price-filter-5" name="price-filter" value="40000-50000">
						</li>
					</ul>

				</div>
				<div class="filter">
					<label for="power-filter">Power:</label>
					<select id="power-filter" name="lowest-power">
						<option value="90">90</option>
						<option value="150">150</option>
						<option value="250">250</option>
						<option value="350">350</option>
						<option value="450">450</option>
						<option value="550">550</option>
						<option value="650">650</option>
						<option value="750">750</option>
						<option value="850">850</option>
						<option value="950">950</option>
					</select>
					<select id="power-filter" name="highest-power">
						<option value="1400">1400+</option>
						<option value="950">950</option>
						<option value="850">850</option>
						<option value="750">750</option>
						<option value="650">650</option>
						<option value="550">550</option>
						<option value="450">450</option>
						<option value="350">350</option>
						<option value="150">250</option>
						<option value="250">150</option>
						<option value="350">90</option>
					</select>
				</div>

			</div>
			<div>
				<button type="submit" class="btn btn-primary">Apply Filters</button>
				<button type="submit" class="btn btn-danger">Clear Filters</button>
			</div>
		</form>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class='d-flex justify-content-between align-items-center mb-2'>
					<h2>
						<i class="fa-solid fa-car"></i>Car List</h2>

					<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
						Add Car
					</button>
				</div>

				<table class="table">
					<tbody>
						{% for car in cars %}
							<div class="col-12">
								<div class="card">
									<div class="card-body">
										<div class='row'>
											{% if car.image %}
												<div class='col-4'>
													<img src="{{ car.image }}" alt="{{ car.company }} {{ car.model }}" class="img">
												</div>
											{% else %}
												<div class='col-4'>
													<img src="/public/images/mx5.jpg" alt="MX5" class="img">
												</div>
											{% endif %}
											<div class='col-8'>
												<h5 class="card-title">{{ car.company }}
													{{ car.model }}</h5>
												<p class="card-text">
													<strong>Year:</strong>
													{{ car.year }}<br>
													<strong>Color:</strong>
													{{ car.color }}
													<strong>Price:</strong>
													{{ car.price }}
													<strong>Power:</strong>
													{{ car.power }}
													<strong>Engine:</strong>
													{{ car.engine }}
													<strong>Mileage:</strong>
													{{ car.mileage }}
													<strong>Fuel Type:</strong>
													{{ car.fuel_type }}
													<strong>Location:</strong>
													{{ car.location }}
													<strong>Drive Type:</strong>
													{{ car.drive_type }}
													<strong>Doors:</strong>
													{{ car.doors }}
												</p>
												<a href="/car/{{ car.id }}" class="btn btn-primary">Update</a>
												<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal-{{ car.id }}">Delete</button>
											</div>
										</div>
									</div>

								{% endfor %}
							</tbody>
						</tbody>
					</tbody>
				</table>
			</div>
		</div>
	</div>


	<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<form id='createform' action="api/cars-create" method='post'>
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Add a new car</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">

						<div class="mb-3">
							<label for="company" class="form-label">Write the company</label>
							<input type="text" class="form-control" id="company" name='company'>
						</div>
						<div class="mb-3">
							<label for="model" class="form-label">Write the model</label>
							<input type="text" class="form-control" id="model" name='model'>
						</div>
						<div class="mb-3">
							<label for="year" class="form-label">Write the year</label>
							<input type="text" class="form-control" id="year" name='year'>
						</div>
						<div class="mb-3">
							<label for="color" class="form-label">Write the color</label>
							<input type="text" class="form-control" id="color" name='color'>
						</div>
						<div class="mb-3">
							<label for="price" class="form-label">Write the price</label>
							<input type="text" class="form-control" id="price" name='price'>
						</div>
						<div class="mb-3">
							<label for="power" class="form-label">Write the power</label>
							<input type="text" class="form-control" id="power" name='power'>
						</div>
						<div class="mb-3">
							<label for="engine" class="form-label">Write the engine</label>
							<input type="text" class="form-control" id="engine" name='engine'>
						</div>
						<div class="mb-3">
							<label for="image" class="form-label">Write the image</label>
							<input type="text" class="form-control" id="image" name='image'>
						</div>
						<div class="mb-3">
							<label for="mileage" class="form-label">Write the mileage</label>
							<input type="text" class="form-control" id="mileage" name='mileage'>
						</div>

						<div class="mb-3">
							<label for="fuel_type" class="form-label">Write the fuel type</label>
							<input type="text" class="form-control" id="fuel_type" name='fuel_type'>
						</div>
						<div class="mb-3">
							<label for="location" class="form-label">Write the location</label>
							<input type="text" class="form-control" id="location" name='location'>
						</div>
						<div class="mb-3">
							<label for="drive_type" class="form-label">Write the drive type</label>
							<input type="text" class="form-control" id="drive_type" name='drive_type'>
						</div>
						<div class="mb-3">
							<label for="doors" class="form-label">Write the doors</label>
							<input type="text" class="form-control" id="doors" name='doors'>
						</div>


					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
						<button type="submit" class="btn btn-primary">Save car</button>
					</div>
				</div>
			</div>
		</form>
	</div>

	{% for car in cars %}
		<div class="modal fade" id="exampleModal-{{ car.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Delete car</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<p>Are you sure you want to delete the car
							{{ car.company }}
							{{ car.model }}?</p>
						<input type="hidden" name="id" value="{{ car.id }}">
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
						<button type="button" class="btn btn-danger seconddelete" data-id="{{car.id}}">Delete car</button>
					</div>
				</div>
			</div>
		</div>
	{% endfor %}


{% endblock %}
